[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pytest-watch = "*"
pytest-docker = "*"

[packages]
confluent-kafka = "*"
google-cloud-storage = "*"

[requires]
python_version = "3.8"
