[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pytest-watch = "*"

[packages]
google-cloud-storage = "*"
google-cloud-pubsub = "*"

[requires]
python_version = "3.8"
